
<!-- <div style="align-content: flex-start">
    <div class="row">
        <div class="col">
            <h1>Treinamento Curso Loiane</h1>
        </div>  
    </div>    
</div>
<nav class="navbar navbar-dark bg-primary">
    <h4 style="font-style: oblique"> Estudo sobre Class Bind</h4>
</nav>
<h3>Example heading <span class="label label-default">New</span></h3>
  <h6>Tipos de Mensagem de Alerta:</h6>
  <select #classe (change) = "0">    
      <option value="alert-success"> Sucesso</option>
      <option value="alert-info"> Informação</option>
      <option value="alert-warning"> Alerta</option>
      <option value="alert-danger"> Erro</option>
  </select> 

  <div class="alert {{ classe.value }}" role="alert">Tipo de Mensagem Selecionada</div>

  <div class="alert" role="alert" [class.alert-success]="classe.value=='alert-success'">Sucesso</div>
  <div class="alert" role="alert" [class.alert-info]="classe.value=='alert-info'">Informação</div>
  <div class="alert" role="alert" [class.alert-warning]="classe.value=='alert-warning'">Aviso</div>
  <div class="alert" role="alert" [class.alert-danger]="classe.value=='alert-danger'">Perigo</div>

  <div class="form-group">
      <textarea class="form-control"rows="7"> {{ estudoclassbiding }}</textarea>
  </div>


  <nav class="navbar navbar-dark bg-primary">
      <h4> Estudo sobre Style Binding</h4>
  </nav>    

  <div class="alert alert-success" role="alert" [style.display]="classe.value=='alert-success' ? 'block' : 'none'">Selecionou a mensagem de sucesso.</div>

  <div class="form-group">
      <textarea class="form-control"rows="7"> {{ estudostylebiding }}</textarea>
  </div>

  <nav class="navbar navbar-dark bg-primary">
      <h4> Estudo sobre Event Binding</h4>
  </nav>    

  <br>
  <br>
  <button class = "btn btn-primary" (click) = "botaoclicado()"> Ação com (click) </button>
  <br>
  <br>
  <button class = "btn btn-primary" on-click = "botaoclicado()"> Ação com on-click </button>

  <div class="row margin">
      <div class="col-2">
          <h3><span class="label label-primary">Aumentar Fonte</span></h3>
          <input type="text"  class="form-control" (blur)="aumentarFonte(campoEntrada.value)" #campoEntrada>   
      </div>
  </div>
  <br>
  <br>
  <input type="text" id="saidaTexto" (keyup)="onKeyUp($event)">
  <output type="text">{{ valorAtual }}</output>
  <br>
  <br>
  <input type="text" id="somaValor" (keyup)="somarValor($event)">
  <output type="text">{{ somavalores }}</output>        
  <br>
  <br> -->
  <!-- <section class="two-way-data-binding">
      <article>
   
          <input type = "text" [ngModel] = "nome2" (ngModelChange) = "nome2 = $event"/> 
          <p>Você digitou o nome2: {{ nome2 }}</p>    

          <input type="text" 
          (keyup)="atualizaNome(caixainput.value)" 
          (input) = "nome = $event.caixainput.value" #caixainput/> 
          <p>Você digitou o nome2: {{ nome }}</p>


          <h3> two-way-data-binding</h3>
          <input type="text" [(ngModel)] = "nome3"/> 
          <br>
          <p>Nome da Pessoa</p>          
          <input type="" [(ngModel)] = "pessoa.nome"/>;          
          <br>
          <p>Idade da Pessoa</p>
          <input type="" [(ngModel)] = "pessoa.idade"/>;
          <br>
          <p>Idade da Pessoa</p>
          <input type="" [(ngModel)] = "pessoa.cpf"/>;


        </article>
  </section> -->  
<app-data-binding></app-data-binding>
<router-outlet></router-outlet>
